
.cl {
      height: 100px;
      width: 100px;
      background-color: orangered;
      color:black;
      text-shadow: 3px 2px goldenrod;
      font-family:"times new roman", times, serif;
      font-size:45px;

    }
.pp{height: 50px;
width: 470px;  }

h3 { color: olivedrab;
    white-space: nowrap; 
    width: 200px; 
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;
    border: 3px solid green;
}

.clll { background-color:grey;
    width: 500px;
    height: 500px;
}